Machine Learning/loan_pred nodered.json
[{"id":"9d91727e0797068b","type":"tab","label":"Loan Prediction","disabled":false,"info":""},{"id":"75651421e5dd4cd3","type":"ui_form","z":"9d91727e0797068b","name":"","label":"","group":"e16117bb840ee3f1","order":4,"width":0,"height":0,"options":[{"label":"Loan_ID","value":"Loan_ID","type":"number","required":true,"rows":null},{"label":"Gender","value":"Gender","type":"number","required":true,"rows":null},{"label":"Married","value":"Married","type":"number","required":true,"rows":null},{"label":"Dependents","value":"Dependents","type":"number","required":true,"rows":null},{"label":"Education","value":"Education","type":"number","required":true,"rows":null},{"label":"Self_Employed","value":"Self_Employed","type":"number","required":true,"rows":null},{"label":"ApplicantIncome","value":"ApplicantIncome","type":"number","required":true,"rows":null},{"label":"CoapplicantIncome","value":"CoapplicantIncome","type":"number","required":true,"rows":null},{"label":"LoanAmount","value":"LoanAmount","type":"number","required":true,"rows":null},{"label":"Loan_Amount_Term","value":"Loan_Amount_Term","type":"number","required":true,"rows":null},{"label":"Credit_History","value":"Credit_History","type":"number","required":true,"rows":null},{"label":"Property_Area","value":"Property_Area","type":"number","required":true,"rows":null}],"formValue":{"Loan_ID":"","Gender":"","Married":"","Dependents":"","Education":"","Self_Employed":"","ApplicantIncome":"","CoapplicantIncome":"","LoanAmount":"","Loan_Amount_Term":"","Credit_History":"","Property_Area":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":70,"y":40,"wires":[["017e7969bc7b94ab","c14bd799953b4b6c"]]},{"id":"017e7969bc7b94ab","type":"debug","z":"9d91727e0797068b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":150,"y":100,"wires":[]},{"id":"c14bd799953b4b6c","type":"function","z":"9d91727e0797068b","name":"Global Variables for Form Node","func":"global.set(\"Loan_ID\",msg.payload.Loan_ID)\nglobal.set(\"Gender\",msg.payload.Gender)\nglobal.set(\"Married\",msg.payload.Married)\nglobal.set(\"Dependents\",msg.payload.Dependents)\nglobal.set(\"Education\",msg.payload.Education)\nglobal.set(\"Self_Employed\",msg.payload.Self_Employed)\nglobal.set(\"ApplicantIncome\",msg.payload.ApplicantIncome)\nglobal.set(\"CoapplicantIncome\",msg.payload.CoapplicantIncome)\nglobal.set(\"LoanAmount\",msg.payload.LoanAmount)\nglobal.set(\"Loan_Amount_Term\",msg.payload.Loan_Amount_Term)\nglobal.set(\"Credit_History\",msg.payload.Credit_History)\nglobal.set(\"Property_Area\",msg.payload.Property_Area)\nvar apikey=\"WKq0u2oYvPczul-4X_bw9zxkmL21GBPI1nbIlKp49wWl\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":40,"wires":[["c4dcdcef90c9dd7b"]]},{"id":"c4dcdcef90c9dd7b","type":"http request","z":"9d91727e0797068b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":350,"y":80,"wires":[["86ba8650fe0fcae9","b92b827151598c0b"]]},{"id":"86ba8650fe0fcae9","type":"debug","z":"9d91727e0797068b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":60,"wires":[]},{"id":"b92b827151598c0b","type":"function","z":"9d91727e0797068b","name":"Pre-Prediction","func":"var Loan_ID = global.get(\"Loan_ID\")\nvar Gender = global.get(\"Gender\")\nvar Married = global.get(\"Married\")\nvar Dependents = global.get(\"Dependents\")\nvar Education = global.get(\"Education\")\nvar Self_Employed = global.get(\"Self_Employed\")\nvar ApplicantIncome = global.get(\"ApplicantIncome\")\nvar CoapplicantIncome = global.get(\"CoapplicantIncome\")\nvar LoanAmount = global.get(\"LoanAmount\")\nvar Loan_Amount_Term = global.get(\"Loan_Amount_Term\")\nvar Credit_History = global.get(\"Credit_History\")\nvar Property_Area = global.get(\"Property_Area\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Loan_ID\", \"Gender\", \"Married\", \"Dependents\", \"Education\", \"Self_Employed\", \"ApplicantIncome\", \"CoapplicantIncome\", \"LoanAmount\", \"Loan_Amount_Term\", \"Credit_History\", \"Property_Area\"]],\"values\": [[Loan_ID, Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":160,"wires":[["df386cc83dba3f43"]]},{"id":"df386cc83dba3f43","type":"http request","z":"9d91727e0797068b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/loan_nidhi_sb1/predictions?version=2021-12-12","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":510,"y":180,"wires":[["2133bb72565cad4b","3549fdfce8036f1a"]]},{"id":"2133bb72565cad4b","type":"debug","z":"9d91727e0797068b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":140,"wires":[]},{"id":"3549fdfce8036f1a","type":"function","z":"9d91727e0797068b","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nif (msg.payload == 0){\n    msg.payload = \"Your loan will not be approved\";\n}\nelse{\n    msg.payload = \"Your loan will be approved\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":240,"wires":[["3a5641ac383738fe","ae36917bd3a1d4d0"]]},{"id":"3a5641ac383738fe","type":"debug","z":"9d91727e0797068b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":200,"wires":[]},{"id":"ae36917bd3a1d4d0","type":"ui_text","z":"9d91727e0797068b","group":"e16117bb840ee3f1","order":5,"width":0,"height":0,"name":"","label":"Premium Will be : ","format":"{{msg.payload}}","layout":"row-spread","className":"","x":740,"y":260,"wires":[]},{"id":"e16117bb840ee3f1","type":"ui_group","name":"Enter The Values","tab":"93ddfdb2ee62974d","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"93ddfdb2ee62974d","type":"ui_tab","name":"Insurance Prediction","icon":"dashboard","disabled":false,"hidden":false}]