chatbot/flows.json
[{"id":"b6baec04526a2b20","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"5745465caab6654d","type":"debug","z":"b6baec04526a2b20","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":160,"wires":[]},{"id":"68fa5dd006143065","type":"inject","z":"b6baec04526a2b20","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hii","payloadType":"str","x":150,"y":160,"wires":[["d754adc3cc1897cc"]]},{"id":"d754adc3cc1897cc","type":"ui_template","z":"b6baec04526a2b20","group":"922c06406e402938","name":"","order":17,"width":"20","height":"6","format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css\">\n    <style>\n        *{\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n            font-family:Arial,Helvetica,sans-serif;\n            transition:all .2s linear;\n        }\n        .form-container{\n            min-height:100vh;\n            width:100vw;\n            display:flex;\n            align-items:center;\n            justify-content:center;\n            background:url(\"https://img.freepik.com/free-vector/modern-abstract-liquid-shapes-background_23-2148282491.jpg?size=626&ext=jpg\") no-repeat;\n            background-size:cover;\n            background-position:center;\n            perspective: 1000px;\n        }\n        .form-container form{\n            height:450px;\n            width:350px;\n            background:rgba(255,255,255,.1);\n            text-align:center;\n            border-radius:5px;\n            box-shadow:0 5px 15px rgba(0,0,0,.3);\n            border-top:1px solid rgba(255,255,255,.3);\n            border-left:1px solid rgba(255,255,255,.3);\n            backdrop-filter:blur(10px);\n            transform-style: preserve-3d;\n        }\n        .form-container form h3{\n            font-size:30px;\n            padding:30px 0;\n            color:#ccc;\n            letter-spacing: 3px;\n        }\n        .form-container form i{\n            padding:0 5px;\n            font-size:20px;\n            color:#bbb;\n        }\n        .form-container form input{\n            outline : none;\n            border:none;\n            height:40px;\n            width:82%;\n            background:rgba(0,0,0,.1);\n            color:rgba(255,255,255,.7);\n            box-shadow:0 0 5px rgba(0,0,0,.3) inset;\n            font-size:17px;\n            padding:0 10px;\n            margin:15px 0;\n            letter-spacing:1px;\n        }\n        .form-container form input[type=\"submit\"]{\n            width:90%;\n            cursor:pointer;\n            background:linear-gradient(90deg,deeppink,blueviolet);\n            margin-top:30px;\n            border-radius:50px;\n        }\n        .form-container form input[type=\"submit\"]:hover{\n            letter-spacing: 4px;\n        }\n    </style>\n    <title>Glass Morphism</title>\n</head>\n<body>\n    <div class=\"form-container\">\n        <form action=\"\" id=\"form\">\n            <h3>Login</h3>\n            <i class=\"fas fa-user\"></i>\n            <input type=\"text\" placeholder=\"username\"/>\n            <i class=\"fas fa-at\"></i>\n            <input type=\"email\" placeholder=\"email\"/>\n            <i class=\"fas fa-lock\"></i>\n            <input type=\"password\" placeholder=\"password\"/>\n            <input type=\"submit\" value=\"Login\">\n        </form>\n    </div>\n    <script>\n        var form = document.getElementById('form');\n        form.addEventListener('mousemove',(e)=>{\n            var x=(window.innerWidth/2-e.pageX)/12;\n            var y=(window.innerHeight/2-e.pageY)/12;\n            form.style.transform='rotateX('+x+'deg) rotateY('+y+'deg)';\n        });\n        form.addEventListener('mouseleave',function(){\n            form.style.transform='rotateX(0deg) rotateY(0deg)';\n        });\n    </script>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":350,"y":200,"wires":[["5745465caab6654d"]]},{"id":"922c06406e402938","type":"ui_group","name":"T1","tab":"fee50df776990c4e","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fee50df776990c4e","type":"ui_tab","name":"G1","icon":"dashboard","disabled":false,"hidden":false}]