chatbot/flows (1).json
[{"id":"1cd40437.661a4c","type":"tab","label":"Voice Enabled COVID Chatbot","disabled":false,"info":""},{"id":"9ec4f119.33507","type":"debug","z":"1cd40437.661a4c","name":"","active":true,"console":"false","complete":"false","x":1010,"y":320,"wires":[]},{"id":"3031c325.ab15fc","type":"switch","z":"1cd40437.661a4c","name":"Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"How_many_cases","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":320,"wires":[[],["a74588b6.93fac"]]},{"id":"249aa0fb.ad77e8","type":"comment","z":"1cd40437.661a4c","name":"Reply to the user","info":"","x":1220,"y":340,"wires":[]},{"id":"92adf75b.696728","type":"change","z":"1cd40437.661a4c","name":"Pass the recorded transcript to Conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"chatstart","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":100,"wires":[["9003f234.27636","125113f7.c0b6b4"]]},{"id":"e6c19df8.cf92e8","type":"watson-text-to-speech","z":"1cd40437.661a4c","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","apikey":"","payload-response":true,"service-endpoint":"","credentials":{"username":""},"x":1020,"y":380,"wires":[["ea674ec7.1be39"]]},{"id":"87ec5201.e363a8","type":"debug","z":"1cd40437.661a4c","name":"","active":true,"tosidebar":true,"console":false,"complete":"transcription","x":530,"y":60,"wires":[]},{"id":"a74588b6.93fac","type":"function","z":"1cd40437.661a4c","name":"Watson Conversation Reply","func":"function createTextLinks(text) {\n\n  return (text || \"\").replace(\n    /([^\\S]|^)(((https?\\:\\/\\/)|(www\\.))(\\S+))/gi,\n    function(match, space, url){\n      var hyperlink = url;\n      if (!hyperlink.match('^https?:\\/\\/')) {\n        hyperlink = 'http://' + hyperlink;\n      }\n      return space + '<a href=\"' + hyperlink + '\">' + url + '</a>';\n    }\n  );\n}\n\nvar response = \"\"\n\nfor(i=0;i<msg.payload.output.generic.length;i++) {\n  response = response + msg.payload.output.generic[i].text ;\n}\n\nresponse = createTextLinks(response);\n\n// The news reports will have \\n, replace with breaks\nmsg.payload = response.replace(/(?:\\r\\n|\\r|\\n)/g, '<br />');\n\n// The news reports will have http: links. Make them \n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["9ec4f119.33507","9003f234.27636","e6c19df8.cf92e8"]]},{"id":"125113f7.c0b6b4","type":"watson-conversation-v1","z":"1cd40437.661a4c","name":"","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"credentials":{},"x":920,"y":100,"wires":[["297b7120.f080c6","2026b23f.b539fe"]]},{"id":"297b7120.f080c6","type":"debug","z":"1cd40437.661a4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":100,"wires":[]},{"id":"9f8392e8.8350d","type":"watson-speech-to-text","z":"1cd40437.661a4c","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":280,"y":100,"wires":[["87ec5201.e363a8","92adf75b.696728"]]},{"id":"d981677a.def458","type":"ui_template","z":"1cd40437.661a4c","group":"8be8cbae.55a828","name":"Chat History","order":1,"width":10,"height":15,"format":"<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\"></div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Render the chatbot table when msg arrives\n      $(\"#my_\"+scope.$id).html(msg.payload);\n      // scroll to Bottom\n      var elmnt = document.getElementById(\"chatbot\");\n      elmnt.scrollIntoView(false);\n    }\n  });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1150,"y":240,"wires":[[]]},{"id":"9003f234.27636","type":"function","z":"1cd40437.661a4c","name":"Build Chat table","func":"var chathistory = flow.get(\"history\")||[];\nvar chatstart = flow.get(\"chatstart\");\nvar who;\n\nif( typeof(chatstart) == 'undefined' ) { chatstart = true ; }\nif(chatstart===true) {\n    who = \"Q\";\n} else {\n    who = \"A\";\n}\n\nvar newchatentry = {\"who\":\"\",\"text\":\"\"};\nif( chathistory.length === 0 ) {\n    // First chat, init the table\n    newchatentry = {\"who\":\"A\",\"text\":\"Hello, I’m the COVID Crisis Communication Bot ready to answer your questions about COVID-19. How can I help you?\"};\n\n    // Add the question, if its not a Clear Chat button press\n    if( msg.payload.length ) { \n        chathistory.push(newchatentry);\n        newchatentry = {\"who\":\"Q\",\"text\":msg.payload}; \n    }\n} else {\n    newchatentry = {\"who\":who,\"text\":msg.payload};\n}\nchathistory.push(newchatentry);\n\nmsg.payload=\"<style>\";\nmsg.payload=msg.payload+\"table { width: 488px; margin-top: 10px; }\";\nmsg.payload=msg.payload+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.payload=msg.payload+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.payload=msg.payload+\"</style>\";\n\nmsg.payload=msg.payload+\"<table id=\\\"chatbot\\\" span=100%><tr><th>Chat History</th></tr>\";\nfor( i = 0; i < chathistory.length; i++ ) {\n    if( chathistory[i].who == \"Q\" ) {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:right;\\\">\"+chathistory[i].text+\"</p></td></tr>\" ;\n    } else {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:left;background-color:#f2f2f2;\\\">\" +chathistory[i].text+\"</p></td></tr>\" ;\n    }\n}\n\nmsg.payload = msg.payload + \"</table>\";\nflow.set(\"chatstart\",false);\nflow.set(\"history\",chathistory);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":220,"wires":[["d981677a.def458","f850c94e.17dca"]]},{"id":"f850c94e.17dca","type":"debug","z":"1cd40437.661a4c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":200,"wires":[]},{"id":"2026b23f.b539fe","type":"function","z":"1cd40437.661a4c","name":"","func":"if( typeof msg.payload.intents != 'undefined') {\n    if( msg.payload.intents.length > 0 ) {\n        if( typeof msg.payload.intents[0].intent!= 'undefined') {\n            return [msg, null];\n        }\n    }\n}\nmsg.payload = \"Sorry, the chat bot did not understand the question.\";\nreturn [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":360,"wires":[["3031c325.ab15fc"],["e6c19df8.cf92e8"]]},{"id":"c762a0d3.34e5","type":"ui_microphone","z":"1cd40437.661a4c","name":"","group":"98106f1f.66b66","order":5,"width":0,"height":0,"maxLength":3,"maxRecogLength":"","timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":90,"y":100,"wires":[["9f8392e8.8350d"]]},{"id":"74045683.266ef8","type":"twc-covid19-country-report","z":"1cd40437.661a4c","name":"","apikey":"","x":490,"y":420,"wires":[["c3f83642.e0e398"]]},{"id":"c3f83642.e0e398","type":"function","z":"1cd40437.661a4c","name":"Total Confirmed Cases","func":"let totalConfirmedCase = 0;\n\nmsg.payload.covid19.confirmed.map(function(line){\n    totalConfirmedCase += line;\n});\n\nmsg.payload = \"Worldwide, there have been \"+totalConfirmedCase+\" total confirmed cases of COVID-19\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":420,"wires":[["e6c19df8.cf92e8","88370f44.5f2dd","9003f234.27636"]]},{"id":"88370f44.5f2dd","type":"debug","z":"1cd40437.661a4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":420,"wires":[]},{"id":"ea674ec7.1be39","type":"ui_audio","z":"1cd40437.661a4c","name":"","group":"98106f1f.66b66","voice":"","always":"","x":1200,"y":380,"wires":[]},{"id":"8be8cbae.55a828","type":"ui_group","name":"Chat","tab":"3bfcc361.e45164","order":2,"disp":true,"width":"10","collapse":false},{"id":"98106f1f.66b66","type":"ui_group","name":"Record","tab":"3bfcc361.e45164","order":1,"disp":true,"width":"6","collapse":false},{"id":"3bfcc361.e45164","type":"ui_tab","name":"COVID Voice Chatbot","icon":"dashboard","order":1,"disabled":false,"hidden":false}]