Registration and Login/cloudant.json
[{"id":"9d84b9aa6baba3ab","type":"tab","label":"Cloudant","disabled":false,"info":"","env":[]},{"id":"0608fb58c7ab0930","type":"ui_form","z":"9d84b9aa6baba3ab","name":"","label":"","group":"722e3b3e684f2619","order":3,"width":0,"height":0,"options":[{"label":"Enter your full name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"pass","type":"password","required":true,"rows":null},{"label":"Enter Mobile Number","value":"mobile","type":"number","required":true,"rows":null},{"label":"Enter Branch","value":"branch","type":"text","required":true,"rows":null},{"label":"Enter roll number","value":"roll","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","pass":"","mobile":"","branch":"","roll":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":130,"y":80,"wires":[["fe146b0e30f4de7a","493bd753271e8719"]]},{"id":"ac17065ea7a827af","type":"cloudant out","z":"9d84b9aa6baba3ab","name":"","cloudant":"","database":"student_details","service":"node-red-scqec-2021--cloudant-1639234527451-76075","payonly":true,"operation":"insert","x":710,"y":40,"wires":[]},{"id":"fe146b0e30f4de7a","type":"function","z":"9d84b9aa6baba3ab","name":"","func":"msg.payload={\n    _id: msg.payload.email,\n    Name: msg.payload.name,\n    Password: msg.payload.pass,\n    Mobile: msg.payload.mobile,\n    Branch: msg.payload.branch,\n    Roll: msg.payload.roll\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":40,"wires":[["ac17065ea7a827af"]]},{"id":"371882520b800799","type":"ui_text","z":"9d84b9aa6baba3ab","group":"722e3b3e684f2619","order":4,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":420,"y":160,"wires":[]},{"id":"493bd753271e8719","type":"function","z":"9d84b9aa6baba3ab","name":"","func":"msg.payload = \"Hello \"+msg.payload.name+\". Your registration is successful\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":160,"wires":[["371882520b800799"]]},{"id":"515cf5b0b37238a2","type":"ui_form","z":"9d84b9aa6baba3ab","name":"","label":"","group":"d018fa42571290c5","order":0,"width":0,"height":0,"options":[{"label":"Enter email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"pass","type":"password","required":true,"rows":null}],"formValue":{"email":"","pass":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":140,"y":380,"wires":[["8ce3350a930a492c"]]},{"id":"2cda0bf51d830a98","type":"function","z":"9d84b9aa6baba3ab","name":"","func":"var password = global.get(\"password\"); \nif(password == msg.payload.Password){\n    msg.payload = \"Login successful\";\n}\nelse{\n    msg.payload = \"Wrong password\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":400,"wires":[["fc53ad8d57001749","2cdbb741f362860f"]]},{"id":"11f17055105119bf","type":"cloudant in","z":"9d84b9aa6baba3ab","name":"get student details","cloudant":"","database":"student_details","service":"node-red-scqec-2021--cloudant-1639234527451-76075","search":"_id_","design":"","index":"","x":600,"y":300,"wires":[["2cda0bf51d830a98"]]},{"id":"8ce3350a930a492c","type":"function","z":"9d84b9aa6baba3ab","name":"","func":"var email = msg.payload.email;\nglobal.set(\"password\", msg.payload.pass);\nmsg.payload = {\n    _id : email\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":380,"wires":[["11f17055105119bf"]]},{"id":"fc53ad8d57001749","type":"debug","z":"9d84b9aa6baba3ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":340,"wires":[]},{"id":"2cdbb741f362860f","type":"ui_text","z":"9d84b9aa6baba3ab","group":"d018fa42571290c5","order":4,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":910,"y":400,"wires":[]},{"id":"722e3b3e684f2619","type":"ui_group","name":"Registration Form","tab":"607f29a9b145eab8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d018fa42571290c5","type":"ui_group","name":"Login Details","tab":"455f91db10434bb5","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"607f29a9b145eab8","type":"ui_tab","name":"Registration","icon":"dashboard","disabled":false,"hidden":false},{"id":"455f91db10434bb5","type":"ui_tab","name":"Login","icon":"dashboard","disabled":false,"hidden":false}]