SMS Analysis/SMS Analysis knowledge studio.json
[{"id":"a7382c9a22730ea6","type":"tab","label":"SMS Analysis","disabled":false,"info":"","env":[]},{"id":"938225b892b71058","type":"function","z":"a7382c9a22730ea6","name":"","func":"msg.url = \"https://api.us-south.natural-language-understanding.watson.cloud.ibm.com/instances/37796b69-345d-4e19-b4a1-bd98e899e0e3/v1/analyze?version=2021-08-01&text=\"+msg.payload.t+\"&features=entities&entities.model=d1761981-6d4f-4642-81c8-cd7cc2132ad3\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":140,"wires":[["0bee7e20e081f346","be09a2ba212fad2f"]]},{"id":"0bee7e20e081f346","type":"http request","z":"a7382c9a22730ea6","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","senderr":false,"x":450,"y":140,"wires":[["b6495b5671799188","2d772d30a8be21fa"]]},{"id":"b6495b5671799188","type":"debug","z":"a7382c9a22730ea6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":220,"wires":[]},{"id":"2e8be1e9c4f367e0","type":"ui_form","z":"a7382c9a22730ea6","name":"","label":"","group":"345023aa.e13b8c","order":0,"width":"20","height":"4","options":[{"label":"Enter the SMS for Analysis","value":"t","type":"text","required":true,"rows":null}],"formValue":{"t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":140,"wires":[["938225b892b71058"]]},{"id":"be09a2ba212fad2f","type":"debug","z":"a7382c9a22730ea6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":60,"wires":[]},{"id":"d2231eca8c560265","type":"ui_template","z":"a7382c9a22730ea6","group":"345023aa.e13b8c","name":"","order":2,"width":"20","height":"6","format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>SMS analysis</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n   <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n  <style>\n  .bg-light {\n    background-color: #00838F!important;\n\t}\n\th4 {\n    color: #fff;\n\t}\n\t\n\t.custom-file {\n\t\tmargin-bottom: 14px;\n\t\t}\n\t\t\n\t.table .thead-dark th {\n\t\tcolor: #fff;\n\t\tbackground-color: #307d76;\n\t\tborder-color: #307d76;\n\t}\n\th5{\n\t    text-align: center;\n\t\t    color: #bd6666;\n\t\t}\n\t\t.text-center {\n\t\t  text-align: center;\n\t\t}\n\t.imgdiv\n\t{\n\t\talign:center;\n\t}\n\t</style>\n</head>\n<body>\n\t<nav class=\"navbar navbar-expand-sm bg-light\">\n\t\t<div class=\"justify-content-center\">\n\t\n\t\t</div>\n\t</nav>\n\t<br><br>\n    <div class=\"container\">\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t<br>\n\t\t\t\t\t\n\t\t\t\t\t<!--<md-button ng-click=\"send({payload:action()})\">\n\t\t\t\t\t\tPredict\n\t\t\t\t\t</md-button>-->\n\t\t\t\t\t\n\t\t\t\t\n\t\t\t\t\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t</div>\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t<h5> Analysed SMS  </h5>\n\t\t\t<table class=\"table\">\n\t\t\t\t<thead class=\"thead-dark\">\n\t\t\t\t  <tr>\n\t\t\t\t\t<th>Type</th>\n\t\t\t\t\t<th>Text</th>\n\t\t\t\t\t<th>Confidence</th>\n\t\t\t\t\n\t\t\t\t  </tr>\n\t\t\t\t</thead>\n\t\t\t\t<tbody id=\"scoretable\">\n\t\t\t\t</tbody>\n\t\t\t  </table>\n\t\t\t  \n\t\t\t </div>\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t</div>\t\n</body>\n</html>\n<script>\nvar x=\"\";\n    function readURL(input) {\n        if (input.files && input.files[0]) {\n            var reader = new FileReader();\n\n            reader.onload = function (e) {\n                $('#blah')\n                    .attr('src', e.target.result)\n                    .width(150)\n                    .height(200);\n            };\n\n            reader.readAsDataURL(input.files[0]);\n            x= input.files[0]\n\n            \n            \n\n        }\n    }\n    function getdata(data)\n\t{\n\t\t var html = '';\n            if(data != 0)\n\t\t\t{\n\t\t\t\t$.each(data, function(i){\n\t\t\t\tvar row = data[i];\n\t\t\t\tconsole.log(row);\n\t\t\t\thtml += '<tr>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.type;\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.text;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.confidence;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '</tr>';\n\t\t\t\t\n\t\t\t});\n\t\t\t}\n\t\t\telse\n\t\t\t\thtml+=\"<div>No Data</div>\";\n\t\t\t$('#scoretable').html(html);\n\t}\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            getdata(data);\n\n        });\n    })(scope);\n    \n    \n// or overwrite value in your callback function ...\nthis.scope.action = function() { return x; }\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":800,"y":140,"wires":[[]]},{"id":"2d772d30a8be21fa","type":"function","z":"a7382c9a22730ea6","name":"","func":"msg.payload=msg.payload.entities\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":140,"wires":[["d2231eca8c560265"]]},{"id":"345023aa.e13b8c","type":"ui_group","name":"Sms","tab":"25cb4d68.cdd262","order":1,"disp":true,"width":"20","collapse":false},{"id":"25cb4d68.cdd262","type":"ui_tab","name":"SMS","icon":"dashboard","disabled":false,"hidden":false}]